* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(169, 169, 169);
}

h1 {
  color: #86BADA;
}

nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 30px;
}

/* nav ul {
  text-align: center;
} */

.part {
  width: 400px;
  height: 120px;
  background-color: white;
  display: flow-root; /* 자식이 못나가게 설정 */
}

.part h1 {
  margin: 0px;
}

#danmalgi_black {
  margin: 30px 0 0 20px; 
  width: 300px;
  height:50px;
  background-color: black;
  text-align: center;
  line-height: 50px;
  box-shadow: 0px 0px 20px 2px gray;
}

#danmalgi_white {
  margin: 10px;
}

.part h1 {
  margin: 0px;
}

nav ul {
  margin-left:20px;
}