h1, h2 {
    color: rgba(73, 73, 73, 0.5);
}

table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    font-size: 18px;
}

/* table {
    width: 300px;
    height: 250px;
} */

td, th {
    width: 100px;
    height: 30px;
    /* font-size: 18px; */
    /* border : 1px dashed gray; */
    border-bottom: 2px solid black;
}

caption {
    caption-side: bottom;
    text-align: right;
}

td {
    text-align: center;
}

h2 {
    text-align: center;
}

th {
    background-color: gray;
}

tfoot {
    background-color: gray;
    font-style: italic;
    font-weight: 100;
}

.col_color {
    background-color: whitesmoke;
}

.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.f_size {
    font-size: 1.5rem;
}

.text_de {
    /* letter-spacing: 16px; */
    text-transform: lowercase;
    text-decoration: underline;
    width: 620px;
    height: 70px;
    background-color: rgb(207, 107, 0);
    color: white;
    line-height: 70px;
}

.text_shadow {
    text-shadow: 2px 2px 3px gray;
}

form {
    line-height: 2;
}

fieldset { 
    width: 400px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
    vertical-align: top;
}

button {
    width: 150px;
    height: 50px;
    font-size: 13px;
    margin-right: 20px;
    background-color: rgb(207, 107, 0);
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: white;
}

[type = "range"] {
    accent-color: rgb(207, 107, 0);
}