@font-face {
    font-family: 'A2z';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-6@1.0/에이투지체-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

h1 {
  font-family: A2z;

}

#head {
  text-align: center;
  background-color: #C1C6C8;
  padding: 10px;
}

.section {
  width: 300px;
  height: 400px;
  border: 1px solid #C1C6C8;
  margin: 20px;
  padding: 10px;
  box-sizing: content-box;
  box-shadow: 3px 3px 5px 3px #C1C6C8;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
  
}

.section1 {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  box-sizing: content-box;
  box-shadow: 3px 3px 5px 3px #C1C6C8;
  border-radius: 50%;
}

.image {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  /* border-style: dashed dotted; */
  /* border-top-style: dashed; */
  /* border-color:red orange  ; */
  /* border-bottom-color: orange; */
  /* border-width: 3px 6px; */
  border-radius: 50%;
  /* border-top-left-radius: 20px; */
  margin: 0px auto;
  padding: 10px;
  /* background-color: whitesmoke;
  background-size: cover; */
}



#cleancode {
  /* margin: 10px 20px; */
  background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
  /* float: left; */
}

#yibangin {
  /* margin:10px 20px 30px; */
  background: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  /* float: left; */
}

#tenThink {
  /* margin: 10px 20px 30px 40px; */
  background: linear-gradient(to right bottom, rgb(20, 148, 246),rgb(255, 250, 187));
  /* clear: both; */
}

#grad_test {
  background: radial-gradient(circle at 30% 30% , white, blue)
}

.book_title {
  text-align: center;
  background-color: orange;
  padding: 10px;
}

#cleancode_img {
  /* background-clip: border-box; */
  background: url(../images/cleancode.jpg);
  background-size: cover;
  /* background-origin: border-box;
  background-repeat: no-repeat; */
  
}

#yibangin_img {
  /* background-clip: padding-box; */
  background: url(../images/YibangIn.jpg);
  background-size: cover;
  /* background-origin: padding-box;
  background-repeat: no-repeat; */
}

#tenThink_img {
  /* background-clip: content-box; */
  background: url(../images/tenThink.jpg);
  background-size: cover;
  /* background-origin: padding-box;
  background-repeat: no-repeat; */
}

/* #main {
  background: url("../images/java.png") no-repeat 30% 20% fixed ;
  background-size:;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20% 30%;
} */

#main {
  text-align: center;
}

.book_dec {
  font-size: 14px;
}

#nav > ul {
  list-style: none;
}

#nav ul li {
  display: inline-block;
  border: 1px solid black;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

#nav {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

/* #nav a:link {
  background-color: #C1C6C8;
}
#nav a:visited {
  background-color: yellow;
} */

#nav a:hover {
  background-color: black;
  color: white;
}

#nav a:active {
  background-color: yellow;
  color: white;
}