#his_img {
  width: 50%;
  /* border: 4px solid black; */
}

#his_img img {
  width: 100%;
  height: 100%;
  /* object-fit: fill; */
}

#history {
  display: flex;
  gap: 40px;
  margin: 30px;
}

#his_they {
  font-size: 2vw;
}