#img_spring {
  width: 100%;
  height: 500px;
  background-image: url(../images/spring/img_season1.jpg);
  background-size: cover;
  filter: saturate(80%);

  display: flex;
  align-items: flex-end;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  position: relative;

}

#img_spring ul li {
  display: inline-block;

  width: 200px;
  height: 50px;
  line-height: 50px; /* 높이랑 같게 설정하면 글자가 중앙으로 옴 */
  text-align: center;
}

#spring_title {
  color: white;
  text-shadow: 4px 4px 2px gray;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%; 
  left: 50%;

  font-size: 5rem;
  font-weight: 900;
}


#nav_season {
    flex-grow: 1;
    text-align: center;
}

#nav_season a {
  color: white;
  font-size: 1.2rem;

}

#nav_season ul{

  background-color: rgba(0, 0, 0, 0.5);
}

#nav_season ul a:hover {
  font-size: 1.5rem;
}

#spring_list {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(3, minmax(150px, 1fr)); /* 열 */
  grid-auto-rows: 1fr; /* 행 */
  grid-template-areas:
  "s1 s1 s1"
  "s2 s3 s3"
  "s2 s4 s5"
  "s6 s6 s7"
  "s8 s9 s9";
}

.spring_img img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width:768px) {
  /* #spring_list {
    display:flex;
    flex-direction: column;
  } */

  #spring_list {
    display: block;
  }
  .spring_img {
    height: 300px;
    margin: 10px;
  }
  
}

.spring_img:nth-child(1) {
  grid-area: s1;
}

.spring_img:nth-child(2) {
  grid-area: s2;
}

.spring_img:nth-child(3) {
  grid-area: s3;
}

.spring_img:nth-child(4) {
  grid-area: s4;
}

.spring_img:nth-child(5) {
  grid-area: s5;
}

.spring_img:nth-child(6) {
  grid-area: s6;
}

.spring_img:nth-child(7) {
  grid-area: s7;
}

.spring_img:nth-child(8) {
  grid-area: s8;
}

.spring_img:nth-child(9) {
  grid-area: s9;
}

/* .spring_img:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 1/4;
  grid-row: 1/2;
}

.spring_img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/4;
}

.spring_img:nth-child(3) {
  grid-column: 2/4;
  grid-row: 2/3;
}



.spring_img:nth-child(8) {
  grid-column: 3/4;
  grid-row: 4/6;
}

.spring_img:nth-child(9) {
  grid-column: 1/3;
  grid-row: 5/6;
} */
